# Node.js dependencies
node_modules/
npm-debug.log*
package-lock.json

# Logs
logs/
*.log
logs/*.log
npm-debug.log*
debug.log

# Build artifacts
dist/
build/
.out/

# Editor & IDE settings
.vscode/

# Testing & Coverage
coverage/
jest/
cypress/screenshots/
cypress/videos/
